<ul class="nav author-nav">
  <li class="author-name">
    <span><%= @user.name %> <%= @user.second_name %></span>
    <a class="add-favorite" href="#1">Добавить в избранное</a>
  </li>
  <li>
    <%= link_to 'Работы', root_path %>
    <ul>
      <li>
        <%= link_to 'Серия и описания', user_galleries_path(@user.id) %>
      </li>
      <li>
        <a href="#2">Список серий</a>
      </li>
      <li>
        <a href="#3">Без серий</a>
      </li>
    </ul>
  </li>
  <li>
    <%= link_to 'Об авторе', @user %>
    <ul>
      <li>
        <a href="#1">Статистика автора</a>
      </li>
    </ul>
  </li>
</ul>

<% # :TODO не забыть о class="active" у меню %>