<div id="sidebar">
  <ul>
    <li>
      <a href="javascript:void(0)" onclick="openMenu('tech'); return false">Техника</a>
      <div id="tech" class="defmenu">
        <ul>
        <% get_technologies.all.each do |tech| %>
            <li><%= tech.name %></li>
        <% end %>
        </ul>
      </div>
    </li>
    <li>
      <a href="javascript:void(0)" onclick="openMenu('rubrik')">Раздел</a>
      <div id="rubrik" class="defmenu">
        <ul>
          <% get_rubriks.all.each do |rubrik| %>
            <li><%= rubrik.name %></li>
          <% end %>
        </ul>
      </div>
    </li>
    <li>
      <%= link_to 'Авторы', users_path %>
    </li>
    <li>
      <a href="#4">Подборка</a>
    </li>
    <li>
      <a href="#5">Ширина</a>
    </li>
    <li>
      <a href="#6">Формат</a>
    </li>
    <li>
      <a href="javascript:void(0)" onclick="openMenu('interior')">Интерьер</a>
      <div id="interior" class="defmenu">
        <ul>
            <% get_interiors.all.each do |interior| %>
                <li><%= interior.name %></li>
            <% end %>
        </ul>
      </div>
    </li>
    <li>
      <a href="javascript:void(0)" onclick="openMenu('color'); return false">Цвет</a>
      <div id="color" class="defmenu">
        <ul>
        <% get_colors.all.each do |color| %>
        <li><%= color.name %></li>
        <% end %>
        </ul>
      </div>
    </li>
    <li>
      <a href="#10">Цена</a>
    </li>
    <li>
      <a href="#11">Сортировка</a>
    </li>
  </ul>
</div>