<% content_for(:head) do %>
    <script type="text/javascript" >
        $(document).ready(function() {
            $("#markItUp").markItUp(myBbcodeSettings);
        });
    </script>
<% end %>

<div class="container">
<%= form_for @blog, :validate => true, :url => {:action => 'update'}, :html => { :multipart => true } do |f| %>
    <div class="row-fluid">
      <div class="span3">
        <%= f.label :picture %>
        <%= f.file_field :picture, :maxlength => 64, :tabindex => 1 %>

        <%= f.label :title %>
        <%= f.text_field :title, :size => 31, :tabindex => 2 %>
        <%= f.label :text %>
        <%= f.text_area :text, :size => '30x10', :tabindex => 3, :id => 'markItUp' %>
        <%= f.label :tags %>
        <%= f.text_area :tags, :size => '113x5', :tabindex => 4 %>
      </div>
    </div>
    <%= content_tag :button, t(:save), :tabindex => 4 %>
<% end %>
</div>