<div class="container">
    <b>Роль</b>: "<%= @role.name %>"
    <%= form_for @role, :url => { :action => :update } do |f|  %>
        <ul>
        <% Permission.all.each do |permission| %>
              <li><%= f.check_box permission.id, { :checked => checked?(@role.id, permission.id) } %><%= permission.name %>  </li>
        <% end %>
        </ul>
      <%= content_tag :button, t(:save) %>
    <% end %>
</div>