<div id="sidebar">
  &nbsp;
</div>

<div class="container author-page">

  <div class="definition">
    <%= image_tag @user.avatar.url, :class => 'author-page-photo pull-left' %>

    <p><%= @user.second_name %> <%= @user.name %></p>
    <p>
      <%= t(:born) %> <%= Russian::strftime(@user.birthday, '%d %B %Y') %> <%= t(:y) %>, <%= t(:in) %> <%= @user.city + t(:prepositional) %>
    </p>
    <p>
      <%= t(:about) %>: <%= @user.about %>
    <p>
      <%= t(:what_inspires) %>: <%= @user.what_inspires %>
    </p>

    <%= render 'layouts/social/social_auth_info' %>

  </div>

</div>