<div class="container">
  <%=  link_to t('news.add'), new_news_path if permitted_to? [:create, :new], :news  %>
    <ul class="news">
      <% @news.all.each do |new| %>
      <li>
        <div class="news-head">
          <span class="date"><%= new.created_at.strftime('%d.%m.%y, %H:%M') %></span>
          <h2><%= new.title %></h2>
            <%= link_to '', edit_news_path(new.id), :class => 'ico ico-pencil' if can?('edit_news') %>
            <%= link_to '', news_path(new.id), :method => :delete, :class => 'ico ico-close-small', :confirm => t('news.confirm_delete') if can?('delete_news') %>
        </div>
        <div class="news-body">
          <%= image_tag new.picture.url, :class => 'news-image' %>
          <%= raw new.text.bbcode_to_html %>
        </div>
        <div class="tags">
          <strong><%= t('news.tags') %>:</strong> <%= tags_by_new_id(new.id) %>
        </div>
        <%= render 'layouts/social/social_news' %>
      </li>
      <% end %>
    </ul>
    <%= paginate @news %>
</div>