<div class="container">
    <%= link_to t('admin.users'), users_path %> (<%= User.count %>)<br />
    <%= link_to t('admin.permissions'), admin_permissions_path %> <br />
    <%= link_to t('admin.colors'), admin_colors_path %> (<%= Color.count %>) <br />
    <%= link_to t('admin.interiors'), admin_interiors_path %> (<%= Interior.count %>)  <br />
    <%= link_to t('admin.rubriks'), admin_rubriks_path %> (<%= Rubrik.count %>)  <br />
    <%= link_to t('admin.technologies'), admin_technologies_path %> (<%= Technology.count %>) <br />
    <%= link_to t('admin.decor'), admin_decors_path %> (<%= Decor.count %>)
</div>