<div class="container">

<%= form_tag({:action => :create}, {:multipart => true, :id => 'add'}) do %>

<div class="row-fluid">
    <div class="span4">
      <h3>1: <%= t('photo.upload_miniature') %></h3>
      <%= file_field_tag :src_preview, :maxlength => 64, :tabindex => 1 %>
      <small><%= t('photo.miniature_param') %>.</small>
      <img class="stretch" src="i/_tmp/pic-07.jpg" alt="">

      <h3>2: <%= t('photo.two_part_of_origin') %></h3>

      <%= file_field_tag :miniature_one, :maxlength => 64, :tabindex => 2 %>
      <%= file_field_tag :miniature_two, :maxlength => 64, :tabindex => 3 %>

      <small><%= t('photo.parts_of_orign_params') %></small>
    </div>

    <div class="span8">
        <div class="row-fluid">
          <div class="span6"><h3>3: <%= t('photo.enter_required_parameters') %>:</h3></div>
          <div class="span6"><h3><%= t('photo.help.help') %></h3>
        </div>
    </div>

<div class="row-fluid">

  <div class="span6">
    <div class="row-fluid">
      <div class="span8">
        <label><%= t('photo.title') %></label>
        <%= text_field_tag :name, nil, :maxlength => 64, :tabindex => 4, :class => 'span12' %>
      </div>
      <div class="span4 lineForm">
        <label><%= t('photo.create_year') %></label>
        <%= select_year Date.today, :field_name => 'date_create', :tabindex => 5, :start_year => 1980, :end_year => Time.now.year %>
      </div>
    </div>
  </div>

  <div class="span6">
    <p>
      <%= t('photo.help.help_one') %>.
    </p>
  </div>
</div>

<div class="row-fluid top-space">
  <div class="span6">
    <label><%= t('photo.gallery_name') %></label>
    <div class="row-fluid">
      <div class="span6 lineForm">
        <%= select "select", "gallery_id", Gallery.gallery_by_user_id(params[:user_id]).collect {|p| [p.name, p.id]}, :tabindex => 6 %>
      </div>
      <div class="span6">
        <%= text_field_tag 'gallery_name', nil, :maxlength => 64, :tabindex => 7, :class => 'span12' %>
      </div>
    </div>

  </div>
  <div class="span6">
    <p>
        <%= t('photo.help.help_two') %>
    </p>
  </div>
</div>

<div class="row-fluid top-space">
  <div class="span6">
    <div class="row-fluid">
      <div class="span6">
        <label><%= t('city') %></label>
        <%= text_field_tag :city, nil, :maxlength => 64, :tabindex => 8, :class => 'span12' %>
      </div>

      <div class="span6 lineForm">
        <label><%= t('photo.for_sale') %></label>
        <%= select 'select', 'sell', [['Да', 1], ['Нет', 0]], :tabindex => 9 %>
      </div>
    </div>
  </div>
  <div class="span6">
    <p><%= t('photo.help.help_three') %>.</p>
  </div>
</div>

<div class="row-fluid top-space">
  <div class="span6">
    <label><%= t(:description) %></label>
        <%= text_area_tag 'description', nil, :size => "30x10", :class => "hight-middle", :tabindex => 10 %>
  </div>
  <div class="span6">
    <p><%= t('photo.help.help_four') %></p>
  </div>
</div>

<div class="row-fluid top-space">
  <div class="span12"><h3>4: <%= t('photo.enter_params_of_your_staff') %></h3></div>
</div>
<div class="row-fluid">
  <div class="span6">

    <label><%= t('photo.orign') %></label>
    <%= text_field_tag 'height', nil, :class => 'span3', :maxindex => 64, :tabindex => 11 %> *
    <%= text_field_tag 'width', nil, :class => 'span3', :maxindex => 64, :tabindex => 12 %>
    <small><%= t('photo.unit') %></small>
  </div>
  <div class="span6">
    <p>Размеры оригинала используются для
      определения макс. размера отпечатка.</p>
  </div>
</div>
<div class="row-fluid top-space">
  <div class="span6">
    Вариант работы:
    <a class="selected" href="#">1</a>
    <a class="non-selected" href="#">2</a>
    <a class="non-selected" href="#">3</a>
  </div>
  <div class="span6">
    <p>Можно создать не более 3 вариантов</p>
  </div>
</div>
<div class="row-fluid top-space">
  <div class="span6">
    <div class="row-fluid">
      <div class="span6">
        <label>Длинная сторона </label>
        <input class="span6" type="text" name="left" maxlength="64" tabindex="13"/>
        <small>20-100 см</small>
      </div>
      <div class="span6">
        <label>Цена</label>
        <input class="span6" type="text" name="left" maxlength="64" tabindex="14"/>
        <small>от 1000р</small>
      </div>
    </div>
  </div>
  <div class="span6">
    <p>Высокая цена может ограничить спрос,
      ориентируйтесь на аналогичные работы</p>
  </div>
</div>
<div class="row-fluid top-space">
  <div class="span6">
    <div class="row-fluid">
      <div class="span6 lineForm">
        <label>Тираж</label>
        <select name="bay" id="tirage" tabindex="15">
          <option value="100">100</option>
          <option value="200">200</option>
          <option value="500">500</option>
        </select>
      </div>
      <div class="span6 lineForm">
        <label>Оформление</label>
        <select name="bay" id="design" tabindex="16">
          <option value="gothic">Готика</option>
          <option value="barokko">Барокко</option>
          <option value="impres">Импрессионизм</option>
        </select>
      </div>
    </div>
  </div>
  <div class="span6">
    <p>Работы с подписью или оформлением
      требуют контакта с автором при продаже</p>
  </div>
</div>
<div class="row-fluid top-space">
  <div class="span6">

    <div class="row-fluid">
      <div class="span4 lineForm">
        <label>Техника</label>
        <select name="bay" id="technik" tabindex="17">
          <option value="100">Гжель</option>
          <option value="200">Хохлома</option>
          <option value="500">Карандаш</option>
        </select>
      </div>
      <div class="span4 lineForm">
        <label>Цвет</label>
        <select name="bay" id="color" tabindex="18">
          <option value="gothic">Серый</option>
          <option value="barokko">Красный</option>
          <option value="impres">Синий</option>
        </select>
      </div>
      <div class="span4 lineForm">
        <label>Цвет</label>
        <select name="bay" id="thone" tabindex="19">
          <option value="gothic">Фуксия</option>
          <option value="barokko">Индиго</option>
          <option value="impres">Салатовый</option>
        </select>
      </div>
    </div>
  </div>
  <div class="span6">
    <p>Введите 2 цвета - доминирующих или
      цвета главных деталей</p>
  </div>
</div>
<div class="row-fluid top-space">
  <div class="span12">
    <label>Раздел</label>
    <div class="row-fluid">
      <div class="span3 lineForm">
        <select name="bay" id="razdel" tabindex="20">
          <option value="100">Авто</option>
          <option value="200">Природа</option>
          <option value="500">Девушки</option>
        </select>
      </div>
      <div class="span3 lineForm">
        <select name="bay" id="razdel-dop" tabindex="21">
          <option value="gothic">18+</option>
          <option value="barokko">На рабочий стол</option>
          <option value="impres">Повыпендриваться</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="row-fluid top-space">
  <div class="span6">

    <label>Подходящие типы интерьера</label>
    <div class="row-fluid">
      <div class="span6 lineForm">
        <select name="bay" id="interier" tabindex="22">
          <option value="100">Классика</option>
          <option value="200">Модерн</option>
          <option value="500">Магазин</option>
        </select>
      </div>
      <div class="span6 lineForm">
        <select name="bay" id="interier-dop" tabindex="23">
          <option value="gothic">Розовые тона</option>
          <option value="barokko">Общественное место</option>
          <option value="impres">Фотообои</option>
        </select>
      </div>
    </div>
  </div>
  <div class="span6">
    <p>Выберите сами или оставьте на выбор
      модератора.</p>
  </div>
</div>
<div class="row-fluid top-space">
  <div class="span6">

    <label>Тэги</label>
    <textarea name="about" id="tags" cols="30" rows="10" tabindex="24" class="hight-middle"></textarea>
  </div>
  <div class="span6">
    <p>Тэги - только важные и не более 10 шт.</p>
  </div>
</div>
<div class="row-fluid top-space">
  <div class="span6">

    <div class="row-fluid">
      <div class="span6">
        <label>Подборка</label>
        <input class="span12" type="text" name="podborka" maxlength="64" tabindex="25"/>
      </div>
      <div class="span6">
        <label>Акция</label>
        <input class="span12" type="text" name="action" maxlength="64" tabindex="26"/>
      </div>
    </div>
  </div>
  <div class="span6">
    <p>Заполняется модератором</p>
  </div>
</div>
<div class="row-fluid top-space">
  <div class="span6">

    <%= content_tag :button, t(:save), :tabindex => 27 %>

    <button type="button" name="enter" class="pull-right" id="clear-info" tabindex="28">Удалить</button>
  </div>
  <div class="span6">
    <button type="button" name="enter" id="lock-info" tabindex="29">Запретить правки</button>
  </div>
</div>
<div class="row-fluid top-space">
  <div class="span6">
    <h3>5: Дождитесь утверждения Вашей работы. Возможно, с Вами свяжуться для внесения правок</h3>
  </div>
  <div class="span6"></div>
</div>
</div>
</div>
<% end %>
</div>