<div class="container">
    <%= form_for @gallery, :validate => true, :url => {:action => 'create'} do |f| %>
        <div class="row-fluid">
          <div class="span3">
            <%= f.label :name, t(:gallery_name) %>
            <%= f.text_field :name, :size => 31 %>
            <%= f.label :description, t(:gallery_description) %>
            <%= f.text_area :description, :size => '30x10' %>
            <%= content_tag :button, t(:save) %>
          </div>

        </div>
    <% end %>
</div>